%h1 Genres
#genres
  - @genres.each do |genre|
    = render genre
    %p
      = link_to "Show this genre", genre
- if Current.user.present? && Current.user.role == "admin"
  = link_to "New genre", new_genre_path
