%h1 Géneros
#genres
  - @genres.each do |genre|
    = render genre
    %p
      = link_to "Ficha de género", genre
- if Current.user.present? && Current.user.role == "admin"
  = link_to "Nuevo género", new_genre_path
