= render @genre
- if Current.user.present? && Current.user.role == "admin"
  %div
    = link_to "Editar género", edit_genre_path(@genre)
    |
    = link_to "Registro de géneros", genres_path
    
    = button_to "Eliminar género", @genre, method: :delete
