%p{:style => "color: green"}= notice
= render @genre
- if Current.user.present? && Current.user.role == "admin"
  %div
    = link_to "Edit this genre", edit_genre_path(@genre)
    |
    =link_to "Back to genres", genres_path
    
    =button_to "Destroy this genre", @genre, method: :delete
