<p style="color: green"><%= notice %></p>

<h1>Authors</h1>

<div id="authors">
  <% @authors.each do |author| %>
    <%= render author %>
    <p>
      <%= link_to "Ver autor", author %>
    </p>
  <% end %>
</div>

<% if Current.user.present? && Current.user.role == "admin" %>
  <%= link_to "Nuevo autor", new_author_path %>
<% end %>
