%h1 Pedido activo
=render @order
- if @order.state == "activo"
  = button_to "Finalizar pedido", {:controller => "shopings", :action => "finish", :id => @order.id }
%div
  = link_to "Ver pedidos", shoping_path
  |
  = link_to "Seguir comprando", books_path
