%h1 Pedidos
= link_to "Seguir comprando", books_path
|
= link_to "Ver pedidos", shoping_path
%div#orders.container
  .row
    - @order.each do |order|
      .col
        = render order
        %div
        - if order.state == "activo"
          = button_to "Finalizar pedido", {:controller => "shopings", :action => "finish", :id => order.id }